*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body{
    line-height: 1.8;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar{
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    position: fixed;
    backdrop-filter: blur(4px);
}

.nav-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.nav-menu{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-menu li a{
    text-decoration: none;
    padding: 25px 30px;
    display: block;
    position: relative;
    font-weight: 500;
    color: white;
    transition: color 0.3s;
}

.nav-menu li a:hover{
    color: #e48f4a;
}

.hero-slider{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.swiper{
    height: 100%;

}

.swiper-slide{
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-size: cover;
    position: relative;
    background-position: center;
}

.slide-content{
    opacity: 0;
    color: white;
    text-align: center;
    justify-content: center;
    z-index: 2;
    padding: 0 1rem;
}

.slide::before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.slide-content h1{
    font-size: 3rem;
    
}

.slide-content h1, .slide-content p{
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.swiper-slide-active .slide-content h1{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s;
}

.swiper-slide-active .slide-content p{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s;
}

.swiper-slide-active .slide-content{
    opacity: 1;
    transform: translateY(0);
}

.about{
    padding: 4rem 2rem;
    background-color: #f8f2eb;
    color:#1b130e
}

.about .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about-text{
    flex: 1;
    margin-right: 2rem;
}

.about img{
    flex: 1;
    max-width: 600px;
    border-radius: 12px;
}

.menu{
    padding: 4rem 2rem;
    text-align: center;
}

.menu-items{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
    align-items: stretch;
}

.menu-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 420px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 250px;
    width: 100%;
    padding: 1rem;
}

.image-wrapper{
    width: 220px;
    height: 160px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.image-wrapper img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: top;
}

.menu h2{
    margin-bottom: 15px;
}

.menu-item h3{
    color: #9c5b26;
    margin-bottom: 1.5rem;
    margin-top: 25px;
    text-align: center;
}

.menu-item p{
    flex-grow: 1;
    text-align: center;

}

.menu-item:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.btn{
    text-decoration: none;
    font-size: 1rem;
    width: auto;
    height: 3.5rem;
    justify-content: center;
    color: white;
    background-color: #9c5b26;
    border-radius: .25rem;
    padding: 0 2.25rem;
    display: inline-flex;
    align-items: center;
    margin-top: 50px;
    transition: all 0.6s ease;
}

.btn:hover{
    color: white;
    background-color: #d4915aff;
    cursor: pointer;
}

.reservation{
    background: #fff4e6;
    padding: 4rem 2rem;
    text-align: center;
    color: #1b130e;
}

.reservation form{
    max-width: 500px;
    margin: auto;
    display: grid;
    gap: 1rem;
    color: #cccccc;
}

.reservation input, .reservation button{
    padding: 0.8rem;
    border: 1px solid #cccccc;
    border-radius: 6px;
}

.reservation h2{
    margin-bottom: 20px;
    
}

.reservation btn{
    border: none;
    cursor: pointer;
}

.testimonials h2{
    margin-bottom: 20px;
    color: #1b130e;
    
}

.review-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    max-width: 60%;
    margin: auto;
    overflow-x: hidden;
    
}

.review-card{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 1rem;
    background-color: #fcfaf8;
    border: 1px solid #aeaeae;
    border-radius: 12px;
    color: #1b130e;
}

.review-header{
    display: flex;
    align-items: center;
    gap: 12px;
    color: #1b130e;
}

.avatar{
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
}

.review-info{
    justify-content: flex-start;
}

.review-name{
    color: #1b130e;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.review-date{
    color: #9c5b26;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.star-filled{
    color: #e56e19;
}

.testimonials{
    padding: 4rem 2rem;
    background: #fdf6ef;
    text-align: center;
}

.testimonials h2{
    margin-bottom: 20px;
}

.review-stars{
    display: flex;
    gap: 2px;
}

.review-text span{
    font-size: 3rem;
    line-height: normal;
}

.contact{
    padding: 4rem 2rem;
    text-align: center;
}

.contact iframe{
    width: 100%;
    height: 300px;
    border: none;
    margin-top: 1rem;
}

.contact h2{
    margin-bottom: 20px;
}

footer{
    background: #222;
    color: white;
    padding: 2rem;
    text-align: center;

}

.footer-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.socials{
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: center;
}

.socials a{
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
    color: white;
    transition: color 0.3s ease;
}

.socials a:hover{
    color: #9c5b26;
    cursor: pointer;
}

.menu-item-has-children{
    position: relative;
}

.sub-menu{
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 180px;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    text-decoration: none;
    list-style: none;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
    z-index: 999;
}

.menu-item-has-children:hover > .sub-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.scroll-to-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #9c5b26;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.3s ease;
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.scroll-to-top:hover{
    background-color: #e48f4a;
}

.scroll-to-top.show{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.slide-content .cta-buttons{
    opacity: 0;
    transition: opacity 1.6s ease;
    
}

.price{
    font-weight: bold;
    font-size: 1.2rem;
    color: darkslategray;
    margin-top: 10px;
}